vllm == 0.6.3.post1
ray @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp310-cp310-manylinux2014_x86_64.whl
pyarrow  # Required for Ray data.
aiohttp
scipy
pandas
matplotlib
func_timeout
pyyaml
yacs
# numpy < 1.24.0 # for gloo migration backend's compatibility with numpy.float
pyzmq
