# vllm == 0.4.2
ray >= 2.9.0
pyarrow  # Required for Ray data.
aiohttp
# scipy
pandas
matplotlib
# func_timeout
pyyaml
yacs
# numpy < 1.24.0 # for gloo migration backend's compatibility with numpy.float
# pyzmq
